/**
 * @author RainSilver
 * @email [ppstream123@126.com]
 * @create date 2019-03-21 09:05:02
 * @modify date 2019-03-21 09:05:02
 * @desc [进厂页面专属样式]
 */
 /*右侧-功能区-按钮自定义样式*/
 #col_right_func>div button:first-child {
    background: #465DD2;
}

#col_right_func>div button:first-child:hover {
    background: #38f;
}
#col_right_func>div button:nth-child(2) {
    background: gray;
}

#col_right_func>div button:nth-child(2):hover {
    background: #aaaaaa;
}
/*右侧-列表*/
#col_right_list {
    width: 100%;
    height:750px;
    margin-left: 10px;
    overflow: auto;
}
/* .car_list_unchecked {
    background: white;
}

.car_list_checked {
    background: #f0f1f4;

} */