/**
 * @author RainSilver
 * @email ppstream123@126.com
 * @create date 2019-03-20 08:24:56
 * @modify date 2019-03-20 08:24:56
 * @desc 用于多角色登陆下页面的统一样式
 */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}
/*左侧栏目*/
#col_left {
    float: left;
    width: 15%;
    height: 100%;
    background: url('../../res/img/bg0.jpg');
}

/*左侧-导航*/
#col_left>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 230px auto;
    width: 150px;
    height: 0px; /*请查看master_css.js*/
    background: transparent;


}

#col_left li {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background: #F3F6Fa;
}

#col_left li:hover {
    background: white;
    cursor: pointer;
}
/*左侧-标题*/

#col_left>div {
    overflow: hidden;
    width: 100%;
    height: 80px;
    margin: 0px auto;
    border-radius: 0;
    line-height: 80px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background: #cccccc;
    background: rgba(125, 125, 125, 0.3);
    

 

}
#col_left>div:hover{
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px white;
}
/*右侧栏目*/
#col_right {
    float: left;
    width: 84%;
    height: 100%;
    background: white;
}

/*右侧-顶部*/
#col_right_top {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 79px;
    border-bottom: 1px dotted transparent;
    background:transparent;
}

/*右侧-搜索栏*/
#col_right_top_search {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 60px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 1.5em;
    background: #eeeeee;

}

#col_right_top_search>span {
    display: inline-block;



}

#col_right_top_search>input {
    display: inline-block;
    font-size: 1.3em;
    width: 550px;
    height: 1.5em;
    margin-left: 10px;
    border: 0;

    background: transparent;
}


/*右侧-个人信息栏*/
#col_right_top_profile {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 60px;
    /* border: 1px solid gray; */
    margin-right: 20px;
    background: transparent;
}

#col_right_top_profile>ul {
    display: inline-block;
    width: auto;
    height: 60px;
    margin: 0;
    background: transparent;

}

#col_right_top_profile>ul li {
    line-height: 30px;
    font-size: 1.2em;
}

#col_right_top_profile>ul li:nth-child(1) {
    font-weight: bold;
}

#col_right_top_profile>ul li:nth-child(2) {}

/*个人信息-头像*/
#col_right_top_profile>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;


}
/*个人信息-退出按钮*/
#col_right_top_profile>span{
    font-size: 1.5em;
    
}
#col_right_top_profile>span:hover{
    transition-duration: 0.3s;
    cursor: pointer;
    color:red;

}
/*右侧-功能区外层-除发车外可用*/
#col_right_func {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    width: 100%;
    height: 70px;
    background: transparent;

}
/*右侧-功能区外层-按钮*/
#col_right_func>div {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 0px; /*请查看master_css.js*/
    height: 100%;
    margin-left: 10px;
    background: transparent;
}

#col_right_func>div button {
    margin-left: 10px;
    font-size: 1.2em;
    width: 120px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    color: white;
}
/*左侧-功能区-车数选择*/
#col_right_func>p {
    width: 200px;
    height: 100%;
    margin: 0;
    margin-right: 50px;
    line-height: 70px;
    font-size: 2em;
    text-align: center;
    background: transparent;

}
#col_right_func>p span:first-child {
    font-weight: bold;

    color: #465DD2;
}
#col_right_func>p span:nth-child(2) {
    font-weight: bold;

    color: gray;

}

/*右侧-列表*/
#col_right_list{
    margin-left:15px;

}

/*右侧-列表-选中/未选中的单车块*/
.car_list_unchecked {
    background: white;
}

.car_list_checked {
    background: #f0f1f4;
}
