/**
 * @author RainSilver
 * @email [ppstream123@126.com]
 * @create date 2019-03-23 11:01:03
 * @modify date 2019-04-02 16:38:49
 * @desc [报表页面的样式]
 */
/*报表-展示的日期*/
#col_right_date {
    width: 100%;
    height: 70px;
    background: transparent;

}

#col_right_date>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100%;
    background: transparent;
}

#col_right_date>ul li {
    font-size: 1.5em;
    font-weight: bold;
}

#col_right_date>ul li:hover {
    cursor: pointer;
}


/*报表-图表功能区*/
#col_right_chart {
    width: 100%;
    height: 100px;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    background: transparent;
}

#col_right_chart>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 500px;
    margin-left: 20px;
    background: transparent;
}

#col_right_chart>ul li {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 180px;
    height: 70px;
    border-radius: 15px;
    font-size: 1.7em;
    color: white;
    background: #bdc3cc;
}

#col_right_chart>ul li:hover {
    cursor: pointer;
}

#col_right_list {
    width: 100%;
    height: 600px;
    background: transparent;
}

/*报表-右侧-时间-分批列表*/
.report_list {
    width: 100%;
    height: 650px;
    display: none;
    background: transparent;
    overflow: auto;
}

/*报表-右侧-图表*/
.report_list_chart {
    display: none;
    width: 100%;
    height: 100%;
    background: transparent;
}

/*测试-报表-右侧-图表-默认显示的模式图 */
.report_list_chart:nth-child(1) {
    display: block;
}

/*测试-图表功能区默认填充的颜色*/
#col_right_chart>ul li:nth-child(1) {
    color: #465DD2;

}

/*统计-柱状图-盒子*/
.report_list_chart>div {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    clear: both;
    width: 1000px;
    height: 300px;
    margin: 10px auto;
    margin-left: 20px;
    border:1px solid #cad2eb;
    background: transparent;
    box-shadow: 0px 0px 3px 3px #ccc;


}

/*统计-柱状图-菜单*/
.report_list_chart>div>menu {
    /* float: left; */
    float: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 100%;
    background: transparent;
}
.bar_menu_button{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:25%;
    /* border:1px solid #cad2eb; */
    border-bottom: 1px solid #cad2eb;
    border-left:3px solid transparent;
    box-sizing: border-box;
    background: transparent;
}
.bar_menu_button>ul{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1.5em;
    height: 80%;
    background: transparent;
}
.bar_menu_button>ul li{
 width: 200px;
 text-align: center;
  background: transparent;
}
.bar_menu_button>ul li:nth-child(1){
    font-weight: bold;
    color:#999999;
}
.bar_menu_button>span{ 
    display: block;
    width: auto;
    height: auto;
    line-height: 75 px;
    color:gray;
    font-size:4em;
    background: transparent;

}

/*统计-柱状图盒子*/
.report_list_chart_bar {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 10px;
    width: 650px;
    height: 250px;
    background: #ccc;
    overflow-x: auto;
}


/*统计-柱状图*/
.report_list_chart_bar>ul {
    position: absolute;
    left:0px;
    bottom:35px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: center;
    border-bottom: 1px solid gray;
    height: 220px;
    background: transparent;
    overflow:inherit;
}

.report_list_chart_bar>ul li {
    transition-duration: 0.5s;
    display: block;
    width: 30px;
    height: 0px;
    /* height: 200px; 最大长度*/
    color:white;
    margin-left: 5px;
    font-size: 0.9em;
    text-align: center;
    background: #465DD2;

}

/*统计-柱状图-底注*/
.report_list_chart_bar>ol {
    position: absolute;
    left:0px;
    bottom: 0px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    margin: 0 auto;
    height: auto;
    background: transparent;
    overflow:inherit;



}

.report_list_chart_bar>ol li {
    display: inline-block;
    width: 30px;
    margin-left: 5px;
    text-align: center;
    background: transparent;
}


/*右侧-搜索栏*/
#col_right_top_search{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 500px;
    height: 60px;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 1.5em;
    background: transparent;
}
#col_right_top_search div{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 450px;
    height: 60px;
    border-radius: 20px;
    border-radius: 15px;
    font-size: 1.1em;
    background: #eeeeee;
}
#col_right_top_search  span {
    display: inline-block;
}

#col_right_top_search div input {
    display: inline-block;
    font-size: 1.1em;
    width: 350px;
    height: 1.1em;
    margin-left: 10px;
    border: 0;
    background: transparent;
}
#col_right_top_search div span:first-child {
    margin-left:10px;
}

#col_right_top_search div span:first-child:hover{
    cursor: pointer;
}
#col_right_top_search div span:last-child{
    transition-duration: 0.3s;
    color:#cccccc;
}
#col_right_top_search div span:last-child:hover{
    color:black;
}