/**
 * @author RainSilver
 * @email ppstream123@126.com
 * @create date 2019-03-18 20:55:38
 * @modify date 2019-03-18 20:55:38
 * @desc 重置某些设置
 */
* {
    padding: 0;
    margin: 0;
    font-family: '微软雅黑', 'consola'

}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}