/**
 * @author RainSilver
 * @email ppstream123@126.com
 * @create date 2019-03-19 07:44:21
 * @modify date 2019-04-02 16:22:18
 * @desc 发出页面的样式
 */
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}

/*新增发车-背景层*/
#SecondConsoleLayer {
    display: none;
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    background: rgba(10, 10, 10, 0.7);

}
/*新增发车-窗体*/
#addBatchConsole {
    animation: zoomIn 0.5s;
    -webkit-animation: zoomIn 0.5s;
    display: none;
    clear: both;
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    background: white;
    box-shadow: 0px 0px 30px 1px black;
    /*水平偏移 垂直偏移 模糊 大小 颜色*/

}

#addBatchConsole input {
    display: inline-block;
    width: 30%;
    font-size: 1.1em;
}

/*发出批-提交的表单*/
#addBatchConsole>form {
    float: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 1.2em;
    background: white;

}

#addBatchConsole>form>h3 {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    background: transparent;
}

/*发出批-提交的表单-输入行样式*/
#addBatchConsole>form p {
    text-align: left;
    width: 70%;
    background: transparent;

}

#addBatchConsole>form p span {
    /* font-size: 1.5em; */
    display: inline-block;
    margin-bottom: 5px;
    color: gray;
}

#addBatchConsole>form p input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background: #eeeeee;

}

#addBatchConsole>form p input:focus {
    outline: 0;
}

/*按钮行样式*/
#addBatchConsole>form>div {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    background: transparent;
}

#addBatchConsole>form>div input {
    display: inline-block;
    width: 130px;
    height: 100%;
    border: 0;
    border-radius: 10px;
    color: white;
}

#addBatchConsole>form>div input:first-child {
    background: #465DD2;

}

#addBatchConsole>form>div input:first-child:hover {
    background: #38f;

}

#addBatchConsole>form>div input:nth-child(2) {
    background: gray;

}

#addBatchConsole>form>div input:nth-child(2):hover {
    background: #aaaaaa;

}

/*发出批-选择车辆菜单*/

#addBatchConsole_carMenu {
    animation: moveRight 0.7s;
    float: right;
    width: 50%;
    height: 100%;
    display: none;
    /* display: -webkit-flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #465DD2;
    box-shadow: 0px 0px 30px 1px black;


}

/*发出批-选择车辆-背景*/

#addBatchConsole_carMenuBack {
    animation: fadeOut 0.3s;
    float: right;
    width: 50%;
    height: 100%;
    display: block;
    background: url("../../res/img/bg0.jpg");
    background-position: center;
}

#addBatchConsole_carMenu h3 {
    display: block;
    width: 100%;
    text-align: left;
    color: white;
    margin-left: 20px;
    background: transparent;
}

/*发出批-选择车辆-车辆列表BOX*/
#addBatchConsole>div>div {
    overflow: auto;
    width: 100%;
    height: 500px;
    padding: 0 10px;
    color: white;
    /* border:1px solid transparent; */
    background: transparent;
}

#addBatchConsole>div>div>table>tbody tr:hover {
    background: #aaaaaa;
    cursor: pointer;
}

/*发出批-选择车辆-按钮*/
#addBatchConsole_carMenu button {
    display: inline-block;
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    background: #27941D;
}

#addBatchConsole_carMenu button:hover {
    background: #99CC33;
}

/*新增批次车辆选重*/
.batch_car_list_checked {
    background: gray;
}

/*批次详情*/
#BatchDetailConsole{
    display: none;
    animation: zoomIn 0.5s;
    -webkit-animation: zoomIn 0.5s;
    clear: both;
    z-index: 100;
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 80%;
    background: white;
    box-shadow: 0px 0px 30px 1px black;
    /*水平偏移 垂直偏移 模糊 大小 颜色*/
}
#BatchDetailConsole input {
    display: inline-block;
    width: 30%;
    font-size: 1.1em;
    
}
#BatchDetailConsole input:not([type="button"]) {
    opacity:0.5;
    pointer-events:none;
}



/*历史批-表单*/
#BatchDetailConsole>form {
    float: left;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 1.2em;
    background: white;

}

#BatchDetailConsole>form>h3 {
    display: block;
    width: 100%;
    padding-left: 10px;
    background: transparent;
}

/*历史批-提交的表单-输入行样式*/
#BatchDetailConsole>form p {
    text-align: left;
    width: 70%;
    background: transparent;

}

#BatchDetailConsole>form p span {
    /* font-size: 1.5em; */
    display: inline-block;
    margin-bottom: 5px;
    color: gray;
}

#BatchDetailConsole>form p input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background: #eeeeee;

}

#BatchDetailConsole>form p input:focus {
    outline: 0;
}

/*历史批-按钮行样式*/
#BatchDetailConsole>form>div {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    background: transparent;
}

#BatchDetailConsole>form>div input {
    display: inline-block;
    width: 130px;
    height: 100%;
    border: 0;
    border-radius: 10px;
    color: white;
}

#BatchDetailConsole>form>div input:first-child {
    background: #465DD2;

}

#BatchDetailConsole>form>div input:first-child:hover {
    background: #38f;

}
/*发出批-选择车辆菜单*/

#BatchDetailConsole_carMenu {
    animation: fadeOut 1.5s;
    float: right;
    width: 50%;
    height: 100%;
    display: block;
    /* display: -webkit-flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    box-shadow: 0px 0px 30px 1px black;


}
#BatchDetailConsole_carMenu>h3{
    margin-left:20px;
}

/*发出批-选择车辆-车辆列表BOX*/
#BatchDetailConsole>div>div {
    overflow: auto;
    width: 100%;
    height: 500px;
    padding: 0 10px;
    color: black;
    /* border:1px solid transparent; */
    background: transparent;
}


/*发出批-选择车辆-按钮*/
#BatchDetailConsole_carMenu button {
    display: inline-block;
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    font-size: 1.2em;
    color: white;
    background: #27941D;
}

#BatchDetailConsole_carMenu button:hover {
    background: #99CC33;
}

/*左侧栏目*/
#col_left {
    float: left;
    width: 15%;
    height: 100%;
    background: url('../../res/img/bg0.jpg');
}


/* #col_left>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 300px auto;
    width: 150px;
    height: 200px;
    background: transparent;

}

#col_left li {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    background: #F3F6Fa;
} */

/* #col_left li:hover {
    background: white;
    cursor: pointer;
} */

/* 左侧-导航栏

/*右侧栏目*/
#col_right {
    float: left;
    width: 84%;
    height: 100%;
    background: white;
}



/*右侧-主要内容*/
.crude_page {
    display: none;
}

/*右侧-发车-功能区*/
#col_right_page1_func {

    background: transparent;
    width: 100%;
    height: 70px;

}

#col_right_page1_func>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 100%;
    background: transparent;


}

#col_right_page1_func>ul li {
    font-size: 1.5em;
    font-weight: bold;
}

#col_right_page1_func>ul li:hover {
    cursor: pointer;
}

/*新增批次按钮*/

#col_right_page1_func>ul button {
    margin-left: 10px;
    font-size: 1.2em;
    width: 120px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    color: white;
    background: #465DD2;
}

#col_right_page1_func>ul button:hover {
    cursor: pointer;
    background: #38f;
}

/*右侧-功能-状态*/
#col_right_page1_stat {
    width: 100%;
    height: 100px;
    border-top: 1px dotted gray;
    border-bottom: 1px dotted gray;
    background: transparent;

}

#col_right_page1_stat>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 800px;
    margin-left: 20px;
    background: transparent;

}

#col_right_page1_stat>ul li {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 180px;
    height: 80px;
    border-radius: 15px;
    font-size: 2em;
    color: white;
    background: #bdc3cc;
}


#col_right_page1_stat>ul li span:last-child {
    font-weight: bold;
    color: #465DD2;
}



/*历史发出批次列表*/

#col_right_page1_list {
    margin-left: 10px;
    width: 100%;
    height: 1px;
    font-size: 1.1em;
    overflow: auto;
    background:transparent;
}
#col_right_page1_list>table>tbody>tr:nth-child(1){
    background: #eeeeee ;
}
#col_right_page1_list {
    cursor: pointer;
}   
/*所有车辆列表*/
#available_car_list {
    width: 100%;
    height: 650px;
    margin-left: 10px;
    overflow: auto;
    background:transparent;

}
